{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MailMojo - API Demo</title>
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />
</head>
<body class="antialiased hide-extras">
  <main>
    <div class="row header">
      <div class="large-12 columns">
        <h1>MailMojo API - Embed newsletter demo</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/foundation.min.js' %}"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
