{% extends 'base.html' %}
{% load staticfiles demo_tags %}

{% block content %}
  <dl class="tabs" data-tab>
    <dd class="active">
      <a href="#trans-int">Transparent integration</a>
    </dd>
    <dd><a href="#login-int">Login integration</a></dd>
  </dl>

  <div class="tabs-content">
    {# Transparent integration #}
    <div class="content active" id="trans-int">
      <p>
        Type in the username of a sub-account, set embed options, click start and you will be redirected to the embedded newsletter creation process.
      </p>
      <form method="post">
        {% csrf_token %}

        {% for field in form %}
          <div class="row {{ field.html_name }}">
            <div class="large-8 columns">
              <div class="row">
                <div class="large-4 columns{% if field.errors %} error{% endif%}">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                  </label>
                </div>
                <div class="large-8 columns">
                 {{ field }}
                 {{ field.errors }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="submit">
          <button type="submit" name="submit">Start</button>
        </div>
      </form>
    </div>

    {# Login integration #}
    <div class="content" id="login-int">
      <p>
        Set embed options, click start and you will be redirected to a login page
        where you will have to type in a username and password for an existing
        MailMojo account. You will then be redirected back to the embedded newsletter creation process.
      </p>
      <form method="post" action="{% url 'login-int' %}">
        {% csrf_token %}

        {% for field in login_int_form %}
          <div class="row {{ field.html_name }}">
            <div class="large-8 columns">
              <div class="row">
                <div class="large-4 columns{% if field.errors %} error{% endif%}">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                  </label>
                </div>
                <div class="large-8 columns">
                 {{ field }}
                 {{ field.errors }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="submit">
          <button type="submit" name="submit">Start</button>
        </div>
      </form>
    </div>
  </div>

  <h3>Documentation</h3>
  <div class="panel">
    <ul>
      <li><a href="https://api.mailmojo.no/static/docs/examples/client.py">Python API example</a></li>
      <li><a href="https://api.mailmojo.no/static/docs/examples/theme.css">CSS example theme</a></li>
    </ul>
  </div>

  <h3>Debug data</h3>
  <div class="panel debug">
    {% if 'access_token' in request.session or 'li_access_token' in request.session %}
    <dl class="debug access-tokens">
      {% if 'access_token' in request.session %}
      <dt>Transparent integration:</dt>
      <dd>
        Top Level Access Token: <code>{{ request.session.access_token }}</code>
        (Expires at: <code>{{ request.session.access_token_expires_at|to_datetime }}</code>)<br/>
        User Access token: <code>{{ request.session.ti_access_token }}</code>
        (Expires at: <code>{{ request.session.ti_access_token_expires_at|to_datetime }}</code>)<br/>
        {% if 'ti_options' in request.session %}
        Embed options: <code>{{ request.session.ti_options }}</code>
        {% endif %}
      </dd>
      {% endif %}
      {% if 'li_access_token' in request.session %}
      <dt>Login integration:</dt>
      <dd>
        Access token: <code>{{ request.session.li_access_token }}</code>
        (Expires at: <code>{{ request.session.li_access_token_expires_at|to_datetime }}</code>)
        <br/>
        {% if 'li_options' in request.session %}
        Embed options: <code>{{ request.session.li_options }}</code>
        {% endif %}
      </dd>
      {% endif %}
    </dl>
    {% else %}
      <em>No debug data.</em>
    {% endif %}
  </div>
  {% if 'access_token' in request.session or 'li_access_token' in request.session %}
    <form action="{% url 'force-update' %}" method="get" class="force-update">
      {% csrf_token %}
      <div class="field">
        <button type="submit">Flush tokens</button>
      </div>
    </form>
  {% endif %}
{% endblock %}
