/*
 * This is an example theme for MailMojo's newsletter embed.
 *
 * It shows some of the more important CSS selectors you can use to override
 * default colors and styles of main elements.
 *
 * One thing to keep in mind is to try and use 'rem' as unit for sizes. This
 * relates it to the font size set in body, which by default is 16px.
 */

/* Control basic typography and colors through the body: */
body {
	color: #222;
	font-family: Verdana, Arial, sans-serif;
}

/* Main header containing subject input and navigation: */
body > header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #222;
	color: #fff;
}

/* All buttons have the same basic style, override with this selector: */
button, .button {
	border-radius: 0px;
	background-color: #f00;
	color: #333;
}

/* If you customize button colors, remember to update hover styles: */
button:hover, .button:hover {
	background-color: #f66;
	color: #000;
}

/* You should also customize the focus style: */
button:focus, .button:focus {
	background-color: #f33;
	color: #000;
}

/* And lastly for buttons, the disabled style */
button[disabled], button.disabled, .button.disabled,
button[disabled]:hover, button.disabled:hover, .button.disabled:hover {
	background-color: #ccc;
	color: #888;
}

/* A couple of special buttons are the next/previous step navigators: */
body > header nav ul li.next a,
body > header nav ul li.prev a {
	border-radius: 0px;
	background-color: #444;
	color: #fff;
}
/* Also with hover styles, of course: */
body > header nav ul li.next a:hover,
body > header nav ul li.prev a:hover {
	background-color: #fff;
	color: #000;
}

/* If you customize buttons, you probably want to customize the step
 * indicators. These have three states: Default, done and active:
 */
body > header nav ul li.step-info > ol li {
	border-radius: 0;
	background-color: #444;
}

body > header nav ul li.step-info > ol li.done {
	background-color: #666;
}

body > header nav ul li.step-info > ol li.active {
	background-color: #fff;
}

/* Form elements has some general styling that you can override easily: */

fieldset {
	padding: 0;
	border: 0;
}

fieldset legend {
	font-weight: normal;
	font-size: 1.5rem;
	font-style: italic;
}

fieldset p {
	color: #888;
}

input[type="text"],
input[type="email"] {
	border: 1px solid #000;
	box-shadow: none;
	font-size: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus {
	box-shadow: none;
	border-color: #f00;
}

/* A special input field is the subject field in the header */

body > header input[name="subject"] {
	/*
	 * Transparent background is the default, which makes the subject
	 * look seemless like regular text, but the border in addition to
	 * placeholder text indicates it's editable.
	 */
	background-color: transparent;
	border-bottom: 1px dashed #444;
	color: #fff;
}
body > header input[name="subject"]:focus {
	background-color: #444;
	border-bottom-color: transparent;
}

/*
 * First step is choosing a template, which lists templates with previews in a
 * grid. The grid should usually not be customized as it requires knowledge
 * about our different media queries. But general colors and styling is
 * recommended if you do any theming:
 */

.templates li label {
	text-align: left;
}

.templates li img {
	margin-bottom: 1rem; /* Space beneath image, before name */
	border-radius: 0;
	background-color: #222;
}

.templates li.active img {
	background-color: #f00;
}

/*
 * Final step has a date and time picker (jQuery's datetimepicker by xdsoft) which
 * you should update colors of if you change colors elsewhere:
 */

/* Background color of date and time choices: */
.datetime-chooser .xdsoft_datetimepicker .xdsoft_calendar td:hover,
.datetime-chooser .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
	background-color: #bababa !important;
}

/* Text color of today's date when it is not selected: */
.datetime-chooser .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
	color: #f00;
}

/* Background color of currently selected date and time: */
.datetime-chooser .xdsoft_datetimepicker .xdsoft_calendar .xdsoft_current,
.datetime-chooser .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
	background-color: #f00;
}

/* Text color of currently selected date when it is also today: */
.datetime-chooser .xdsoft_datetimepicker .xdsoft_calendar .xdsoft_current.xdsoft_today {
	color: #fff;
}


