{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <p>
    Type in the username of a sub-account and you will be redirected to the
    embedded newsletter creation process.
  </p>

  <form method="post">
    {% csrf_token %}
    <div class="custom-css">
      Custom CSS:
      <label>
        <input type="radio" name="custom_css" value="yes" checked="checked"> Yes
      </label>
      <label>
        <input type="radio" name="custom_css" value="no"> No
      </label>
    </div>
    <div>
      <input type="text" name="username" id="username" placeholder="Type in a username...">
      <button type="submit" name="submit">Start</button>
    </div>
  </form>


  <h2>Documentation</h2>
  <ul>
    <li><a href="{% static 'examples/client.py' %}">Python API example</a></li>
    <li><a href="{% static 'examples/theme.css' %}">CSS example theme</a></li>
  </ul>


  {% if debug and request.session.access_token %}
  <h2>DEBUG INFO</h2>
  <dl class="debug access-tokens">
    <dt>Top Level Access Token:</dt>
    <dd>{{ request.session.access_token }}</dd>
    {% if 'user_access_token' in request.session %}
    <dt>User Access Token:</dt>
    <dd>{{ request.session.user_access_token }}</dd>
    <dt>Use custom CSS:</dt>
    <dd>{{ request.session.custom_css }}</dd>
    {% endif %}
  </dl>
  <ul>
    <li><a href="?force_update">Force update new tokens</a></li>
  <ul>
  {% endif %}
{% endblock %}
