{% extends 'base.html' %}

{% block content %}
  <h1>MailMojo API - Embed newsletter demo</h1>
  <p>
    Type in the username of a sub-account and you will be redirected to the
    embedded newsletter creation process.
  </p>

  <form method="post">
    {% csrf_token %}
    <div>
      <input type="text" name="username" id="username" placeholder="Type in a username...">
      <button type="submit" name="submit">Start</button>
    </div>
  </form>

  {% if request.session.access_token %}
  <h2>DEBUG INFO <small>(hover to see)</small></h2>
  <dl class="debug access-tokens">
    <dt>Access Token:</dt>
    <dd>{{ request.session.access_token }}</dd>
    <dt>User Access Token:</dt>
    <dd>{{ request.session.user_access_token }}</dd>
  </dl>
  {% endif %}
{% endblock %}
